@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    width: 100%;
    background-color: black;
   height: auto;

}

main {
    background-color: hsl(0, 0%, 12%);
    align-content: center;
    padding: 2rem;
    width: 40%;
    margin: 20rem auto;
    height:auto;
    border-radius: 10px;
filter:drop-shadow( 0 0 12px grey) ;

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* .topimg{
    background-color: red;
} */

.img {
    
    display: flex;
    background-image: url(/img/avatar-jessica.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 176px;
    height: 176px;
    border-radius: 100px;
    margin-bottom: 25px;

}

h1 {
    color: white;
    
    /* color: white; */
    margin-left: 25px;
    font-size: 40px;
}

h2 {
    margin-top: 10px;
    margin-left: 25px;
    color: hsl(75, 94%, 57%);
}

p {
    color: hsl(0, 0%, 80%);
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 20px;
}

button {
    margin-bottom: 24px;
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    height: 100px;
    border: none;
    box-shadow:aqua;
}

.buttons {
    align-items: center;
    width: 100%;
    text-align: center;
}

.btn {
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    font-family: "inter", sans-serif;
    font-weight: 600;
}

.btn:active {
    background-color: rgba(87, 204, 19, 0.945);
    transform: translateY(7px);
}

.btn:hover {
    background-color: hsl(75, 100%, 38%);
    filter:drop-shadow(0 0 10px grey);
}


/* @keyframes myanimation{
    0% {color: white; left: 0px; top: 0px;}
    25%{color: green; left: 0px; top: 0px;}
    50%{color: yellow;left: 0px; top: 0px;}
    100%{color: red;left: 0px; top: 0px;}
} */

@media (max-width: 576px) {

    .container{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align:justify;
    }
h1,h2,p{
    font-size: 20px;
    display: block;
}


 .img{
    display: flex;
    width: 100px;
    height: 176px;
    border-radius: 100%;
 }
 button{
    display: flex;
    flex-direction: column;
 }

 .btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    word-wrap: normal;
 }


}
